
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all var(--animation-duration);
}
:root {
  --main_padding_sections: 3.125rem 6%;
  --main-gray-background: #eeeeee;
  --font-primary: "Amatic SC", sans-serif;
  --color-secondary: #37373f;
  --animation-duration: 400ms;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-secondary);
}
li,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
}
h1 {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  padding: 10px;
  position: relative;
  height: 90px;
  background-color: white;
  box-shadow: 0 0 20px 0px #80808061;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
body > nav > div h1::after {
  content: "";
  background-color: red;
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 30%;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  align-items: center;
  color: #333;
}

.nav-links ul {
  display: flex;
  list-style: none;
  position: relative;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
  transition: all var(--animation-duration);
}

#checkbox_toggle {
  display: none;
}

.nav-links a {
  color: #33333386;
  text-decoration: none;
  font-size: 18px;
  transition: all var(--animation-duration);
}

.nav-links a:hover {
  color: #333;
  transition: all var(--animation-duration);
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  right: 0;
}

.menu {
  display: flex;
  position: relative;
  transition: all var(--animation-duration);
}


.nav-links li:hover a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: red;
  bottom: 0;

  left: 0;
}
.nav-links li {
  padding: 5px;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: red;
  bottom: 0;

  left: 0;
  transition: all var(--animation-duration);
}
.close-btn:hover {
  color: #ff3300;
}
.nav-links {
  transition: all var(--animation-duration);
}
@media (max-width: 769px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 55%;
    background-color: white;
    position: fixed;
    box-shadow: 0 0 20px 0px #80808057;
    top: 0;
    right: 0;
    padding-top: 55px;
    height: 100vh;
    align-items: flex-start;
    padding-left: 42px;
    /* position: relative; */
    transform: rotatey(90deg);
    transition: all var(--animation-duration);
    transform-origin: right;
    z-index: 3;
  }
  .close-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    margin-top: 20px;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links {
    position: relative;
    width: 60%;
  }

  .hamburger {
    display: block;
  }

  #checkbox_toggle:checked + .hamburger + .menu {
    transform: rotatey(0deg);
    display: flex;
  }

  #checkbox_toggle:checked + .hamburger + .menu .close-btn {
    display: none;
  }
}

header .contaner {
  display: flex;
  padding: var(--main_padding_sections);
  background-color: #eeeeee;
  flex-wrap: wrap;
  justify-content: space-around;
  /* height: 100vh; */
}
.contaner .header_content,
.contaner picture {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px 0;
}

.header_content .btn-group,
.header_content .btn-group a {
  display: flex;
  /* padding: 10px; */
  /* justify-content: space-between; */
  width: 100%;
}
.header_content .btn-group .btn-main {
  padding: 10px;
  background: red;
  width: 200px;
  border-radius: 0 30px 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
}
.header_content .btn-group .video-btn {
  padding: 10px;
  width: 200px;
  /* border-radius: 0 30px 30px; */
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 43px;
}
body > header > div > picture > img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: drop-shadow(4px 4px 9px #000a);
  top: 0;
  left: 0;
}
body > header > div > picture > img:hover {
  animation: dish 1s;
  animation-iteration-count: infinite;
}
@keyframes dish {
  0% {
    top: 0;
    left: 0px;
  }
  20% {
    top: 3px;
    left: 5px;
  }
  40% {
    top: 5px;
    left: 2px;
  }
  60% {
    top: 2px;
    left: 4px;
  }
  80% {
    top: 3px;
    left: 1px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.header_content h2 {
  font-family: var(--font-primary);
  font-size: 4.0625rem;
  padding: 2px;
  margin: 2px;
}
.video-btn .icon {
  padding: 15px;
  margin: 0 10px;
  background: white;
  border-radius: 50%;
  position: relative;
  border: 10px solid red;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}

.video-btn .icon i {
  transform: rotate(45deg);
}

@media (max-width: 600px) {
  header .contaner {
    flex-direction: column-reverse;
  }
  .contaner .header_content,
  .contaner picture {
    width: 100%;
    text-align: center;
  }
  .header_content .btn-group,
  .header_content .btn-group a {
    display: flex;
    /* padding: 10px; */
    justify-content: space-around;
    width: 100%;
  }
}

.contaner {
  text-align: center;
  padding: var(--main_padding_sections);
}
.main-title h2 {
  font-size: 1rem;
}
.main-title p {
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.main-title p span {
  color: red;
}

.chefs-cards .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  box-shadow: 0 0 12px 0 #808080ab;
  border-radius: 10px;
  overflow: hidden;
  margin: 60px 0;
}
.chefs-cards .card p,
.chefs-cards .card span {
  font-size: 0.9rem;
  color: #33333394;
  padding: 0 10px;
}
.chefs-cards .card:hover {
  transform: scale(1.1);
}
.chefs-cards picture {
  position: relative;
  width: 100%;
  padding: 0;
}
.card picture img {
  border-radius: 10px;
  width: 100%;
}

.social-box li {
  padding: 10px 5px;
  color: #37373f9c;
}


.wave {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}
.wave-container {
  background-color: #add8e6; 
}
.wave .shape-fill {
  fill: #b02b2b; 
}
.social-box li {
  padding: 10px 5px;
  color: #37373f9c;
}
picture svg {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
.social-box {
  position: absolute;
  top: 15px;
  right: -48px;
  width: 40px;
  border-radius: 10px;
  background-color: rgba(155, 155, 155, 0.36);
  transition: all url(--animation-duration);
}
.chefs-cards .card:hover .social-box {
  top: 15px;
  right: 10px;
}
.contaner .chefs-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .chefs-cards .card {
    /* margin: 20px; */
    width: 44%;
  }
}
@media (min-width: 910px) {
  .chefs-cards .card {
    /* margin: 20px; */
    width: 30%;
  }
}

.contaner .main_title h2 {
  font-size: 1rem;
  /* padding: 0;
  margin: 0; */
}
.contaner .main_title p {
  font-size: 3rem;
  padding: 0 0 20px 0;
  margin: 0;
  font-family: var(--font-primary);
}
.contaner .main_title p span {
  color: red;
}
.contaner iframe {
  width: 100%;
  margin: 0 0 1.5rem 0;
}
.contact_us ul {
  display: flex;
  flex-wrap: wrap;
}
.contact_us ul li {
  background-color: #eeeeee;
  width: calc(50% - 20px);
  padding: 10px;
  margin: 10px;
  display: flex;
  text-align: start;
  align-items: center;
  padding: 0;
  height: 100px;
}
.contact_data h2 {
  margin: 10px 0 3px 0;
}
.contact_data p {
  margin: 4px;
}


.Check{


text-align: center;

background-color: #EEEEEE;

padding: var(--main_padding_sections);
}




.Check h2 {
  font-size: 1rem;
}
.Check p {
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.Check span{


      color: tomato;

}


.gallery{
  padding: 40px;


    width: 70%;

    margin: 30px auto;
    margin-bottom: 50px;
    gap: 10px;
/* height: 100vh; */
display: grid;

grid-template-columns: repeat(3,33.3333%);
grid-template-areas: 
"pic1 pic2 pic3"
"pic4 pic2 pic5"
"pic4 pic6 pic7"
;



}
.gallery img{

width: 100%;

}

.pic1{

grid-area: pic1;




}
.pic2{

    grid-area: pic2;
    
    
    
    
    }
    .pic3{

        grid-area: pic3;
        
        
        
        
        }
        .pic4{

            grid-area: pic4;
            
            
            
            
            }
            .pic5{

                grid-area: pic5;
                
                
                
                
                }
                .pic6{

                    grid-area: pic6;
                    
                    
                    
                    }

                    .pic7{

                        grid-area: pic7;
                        
                        
                        
                        }
                    





.contact_us ul li i {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: red;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media (max-width: 786px) {
  .contact_us ul li {
    width: 100%;
    margin: 10px 0;
  }
}

.contact-form {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 6px 0 rgba(128, 128, 128, 0.218);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: hsl(0, 84%, 44%);
}
.row {
  display: flex;
  justify-content: space-between;
}
.row input {
  width: 48%;
}
button {
  background-color: #d20000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
}
button:hover {
  background-color: #b30000;
}
footer .contaner {
  background-image: url(../images-mealify/images/textured-metal-background.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
footer .about > div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
}
footer .about picture {
  width: 30%;
  padding: 0 10px 0 0;
}
footer .about picture img {
  width: 50%;
}
footer .about h2 {
  padding: 0;
  margin: -20px;
}
footer .about p {
  text-align: start;
}
footer .about h3 {
  margin: 0;
  padding: 10px;
}
footer .about ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  padding: 10px;
}
footer .subscription {
  text-align: start;
}
.sunscription-group button {
  width: 100%;
  border-radius: 0;
}
.quick-links ul {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.quick-links ul li {
  width: calc(50%);
  /* background-color: red; */
  padding: 5px 0 5px 10px;
}
.quick-links ul li::before {
  content: ">";
}
.quick-links ul li:hover {
  position: relative;
  transform: translate(10px, 0px);
  background-color: #222222;
}
.contact-details {
  text-align: start;
}
.contact-details ul li {
  padding: 10px;
}
.contact-details ul i {
  color: #b02b2b;
  font-size: 1.4rem;
  padding: 0 10px 0 0;
}

@media (min-width: 769px) {
  .contact-details ul i {
    color: #c3baba;
  }
  .about {
    order: -1;
    width: 50%;
  }
  .contact-details {
    order: -1;
    width: 50%;
    padding: 0 0 0 20px;
  }
}


